.movie-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.movie {
    color: white;
    flex-basis: 20%;
    font-size: 20px;
    font-weight: bold;
}

.movie:hover {
    color: #0000ff;
}

.page-button {
    position: fixed;
    bottom: 2rem;
    border: none;
    border-radius: 5px;
}
.page-button:hover{
    
}

.next-p {  
    right: 2rem;
}

.previous-p {   
    left: 2rem;
}

