.Home {
    text-align: center;
    background-color: #282d4d;
    min-height: 100vh;
}

.movie-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.page-button {
    position: fixed;
    bottom: 2rem;
    border: none;
    border-radius: 5px;
}
.page-button:hover{
    
}

.container-movie {
    position: relative;
    width: 100%;
    height: 700px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-movie {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    margin: auto;
}

.info-movie img {
    border-radius: 5px;
    display: block;
}
.info-movie img:hover {
    filter: blur(3px);
}

.banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    opacity: 50%;
}

.text-movie {
    width: 50%;
    text-align: center;
    margin: auto;
}

.next-p {  
    right: 2rem;
}

.previous-p {   
    left: 2rem;
}